::ng-deep
.mat-drawer-inner-container {
  width:330px !important;
}

.mat-drawer-container{
  position: relative !important;
  display: inline !important;
}
.navbar-inverse{
  width: 100%;
  background-color:#040466;
  border-radius: 0 !important;
  /* padding-bottom: 35px;
  margin-bottom: 15px; */
}
.navbar-inverse-sidenav{
  background-color:rgb(8 64 115);
  border-radius: 0 !important;
  padding-bottom: 35px;
  margin-bottom: 15px; 

}
.sidbarheader{
  font-family: 'Courier New', Courier, monospace;
  color: white;
  font-size: 26px;
  font-weight: 100;
  text-align: center;
  padding-top: 15px;
}
.userImage{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: white;
  float: left;
  color: black;
  text-align: center;
  line-height: 41px;
  font-family: 'Roboto';
  font-size: 24px;
  font-weight: bold;
  margin:-10px 0 0 0;

}
.userAccountName{
  float: left;
  margin-left: 15px;
  font-family: 'Roboto';
  font-size: 24px;
  font-weight: bold;
  text-transform: capitalize;
  
}
.closebtn{
  color:white;
  font-size: 40px;
 /* // text: underline offset 0; */
  text-decoration-line: none;
  float:right ;
  position: relative;
  margin-top: 0px;
  margin-right: -45px;

}
.sidenav-content{
  list-style: none;
  text-transform: uppercase;
  font-family: 'Roboto';
  display: inline-block;

}
.sidenav-content li{
  padding-bottom: 30px;
  font-size: 12px;
  font-weight: 600;
  color: gray;

}
.sidenav-content li span{
font-size: 18px;
font-weight: bolder;
color: black;

}
.logout-content a{
color:brown;
text-align: center;
padding-bottom: 15px;
margin-bottom: 50px;
font-size: 16px;
font-weight: 900;
font-family: 'Roboto';
}
.version-content{
  color:gray;
  text-align: center;
  padding-bottom: 15px;
  margin-bottom: 50px;
  font-size: 12px;
  font-weight: 600;
  font-family: 'Roboto';


}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
input.mat-input-element{
  margin-top: 7px !important;
  border-radius: 4px !important;
}
.mat-option.mat-active{
  background-color: #FFC1B4 !important;
}
.mat-option{
  color: teal !important;

}
/* for Desktop  */
@media(min-width:320px){

/* autocomplete start */
* {
  box-sizing: border-box;
}

body {
  font: 16px Arial;  
}

.btn-warning{
  color: white;
  font-weight: 500;
  font-family: sans-serif;
}
      .autocomplete {
        position: relative;
        display: inline-block;
      }
      
      /* input {
        border: 1px solid transparent;
        background-color: #f1f1f1;
        padding: 10px;
        font-size: 16px;
      } */
      
      input[type=text] {
        background-color: #f1f1f1;
        width: 100%;
      }
            
      .autocomplete-items {
        position: absolute;
        border: 1px solid #d4d4d4;
        border-bottom: none;
        border-top: none;
        z-index: 99;
        /*position the autocomplete items to be the same width as the container:*/
        top: 100%;
        left: 5px;
        right: 0;
        color: white;
      }
      
      .autocomplete-items div {
        padding: 10px;
        color: white;
        cursor: pointer;
        background-color: #fff; 
        border-bottom: 1px solid white; 
      }
      
      /*when hovering an item:*/
      .autocomplete-items div:hover {
        background-color: #e9e9e9; 
      }
      
      /*when navigating through the items using the arrow keys:*/
      .autocomplete-active {
        background-color: white; 
        color: #ffffff; 
      }
      /* autocomplete stop */

    body{
        background-color:white;
      } 
    header{
      width:100%;
      padding: 0px;
      margin-top: -2px;
    
    }
    .listFloating{
      margin-right: 10px;
      display: inline-block;
    }
    img{
    width: 210px;
    height: 200px;
    
    }
    .acc i{
      padding: 7px;
    }
    .acc {
    font-size: 39px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 2px;
    font-weight: bold;
    line-height: 15px;
    }
    .cartVal{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgb(100, 157, 157);
    color: white;
    font-size: 12px;
    text-align: center;
    line-height: 22px;
     float: right;
    margin-top: 10px;
    font-family:'Times New Roman', Times, serif;
    
    }
    .accSpan{
    
      font-size: 12px;
      color:white !important;
      text-align: right;
      margin-top: -22px;
    
    }
     .account:hover .tooltiptext{
      visibility: visible;
    }
    .account:hover .tooltiptext2{
    
      visibility: visible;
    }
    .pop{
      visibility: visible;
    }
    .tooltiptext {
      visibility: hidden;
      width: 140px;
      height: 162px;
      background-color: white;
      color: black;
      text-align: left;
      border-radius: 4px;
      padding: 10px;
      box-shadow: 0px 3px 6px -4px grey;
      position: absolute;
      z-index: 1;
      margin-top: 23px;
      left:83%;
      margin-left: -135px;  
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    .tooltiptext2{
      visibility: hidden;
      width: 280px;
      height: 155px;
      background-color: white;
      color: black;
      text-align: center;
      border-radius: 4px;
      padding: 10px;
      box-shadow: 0px 3px 6px -4px grey;
      position: absolute;
      z-index: 1;
      margin-top: 23px;
      left:91.5%;
      margin-left: -220px;  
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    .accountInfo{
      text-align:left;
      font-size: 14px;
      color:black;
      margin-top: 5px;
    }
    .radio label{
      font-size: 14px;
      color:black;
      
    }
    
    .account{
      
    font-size: 12px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 4px;
    font-weight: bold;
    }
    .account:hover{
      border:1px solid white;
      border-radius: 2px; 
    }
    .acc:hover{
      border:1px solid white;
      border-radius: 2px; 
    }
    .footer{
      height:auto;
      background-color:teal;
      color: wheat;
      font-family:Verdana, Geneva, Tahoma, sans-serif;
      padding: 10px;
      box-sizing: border-box;
      }
      .foot{
        width:100%;
        height: auto;
        text-align: center;
        font-weight: 100;
      
      }
      
      .socialLink{
        padding: 25px;
      }
      .socialLink span{
    
        padding: 5px;
      }
      .socialLink span i{
        width:50px;
        height: 50px;
        padding: 5px;
        background-color: blue;
        line-height: 42px;
        border-radius: 50%;
        font-size: 25px;
        text-align: center;
      }
      .content_align{
        font-size: 16px;
        font-family:Cambria, Cochin;
        color: wheat;
        text-align: justify;
        padding: 10px;
      }
      
    .container-fluid{
      width:1200px;
      padding-right: 0px !important;
    }
    .headerBotom {
      width: 100%;
      /* background-color: rgb(70, 18, 20); */
      height:40px;
      line-height: 20px;
      color:wheat;
      font-size: 16px;
      padding: 10px;
    }
    .headerBotom span{
      /*padding:6px;*/
      text-align: left;
    
    }
    .navbar-nav li a{
      line-height: 10px !important;
    }
    .headerBotom.menuPopover{
      color:black;
    }
    a:hover{
    /* border: 1px solid white; */
    border-radius: 2px;
    
    }
    .headerBotom2{
      width: 100%;
      height: 40px;
      box-shadow: 0px 7px 6px -4px grey;
      line-height: 25px;
      padding: 5px;
      font-family: 'Times New Roman', Times, serif;
      margin-bottom: 10px;

    
    }
    .headerBotomInTwo{
      line-height: 25px;
      float:right;
      margin-top: -30px;
    
    }
    .headerBotomInOne{
      float:left;
      line-height: 30px;
      font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      font-size: 10px;
      color: black;
      width: 60%;
    }
    #selectbutton{
    border-radius: 15px;
    font-size: 13px;
    font-family: Cambria, Cochin, Georgia, Times;
    height: 30px;
    color: white;
    background-color: teal;
    margin: -5px;
    width:auto;
    
    }
    .logo3 span{
      color: rgb(255, 217, 0);
    }
    
    .logo3{
    
      width:100%;
      height: 100px;
      background-color:black;
      justify-content: right;
      align-items: center;
      display: flex;
      color: white;
      box-sizing: border-box;
      font-size: 35px;
      font-weight: bold;
      font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      margin-top: 2px;
      margin-bottom: 3px;
      margin-left: 0px;
    }
    
      tr,td{
    
        border:1px solid green;
        text-align: center;
    
      }
      th{
        background-color: brown;
        color: white;
        border: 1px solid green;
        padding: 10px;
        text-align: center;
      }
      table {
        width: 100%;
        height: auto;
    
      }
      .grid1{
        text-align: justify;
      }
      .grid2{
        text-align: justify;
      }
      .grid3{
        text-align: justify;
      }
      h3{
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 18px;
        color:red;
    
      }
      h3:hover{
        color: rgb(199, 36, 36);
      }
      h4{
        font-size: 16px;
        color:rgb(199, 36, 36);
        text-align: center;
    
    
      }
      h5{
        color: white;
        font-size: 14px;
        color:rgb(235, 144, 26);
        font-family:Cambria, Cochin;
        color: #01031b;
    
      }
      a:hover{
        text-decoration: none;
        /* color: white; */
      }
      a{
        color:white;
      }
    hr.new1{
      border-top: 1px solid white;
    
    }
    .footerHead{
      text-align: center;
      font-size: bold;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      background-color:rgb(70, 18, 20);
      height:40px;
      line-height: 40px;
    }
    .footerHead a{
      color:wheat;
    }
    .contactFooter{
    text-align: center;
    color:brown;
    }
    .content_align{
      font-size: 16px;
      font-family:Cambria, Cochin;
      color: wheat;
      text-align: justify;
      width:100%;
    }
    /* * {
      box-sizing: border-box;
    } */
    
    body {
      font: 16px Arial;  
    }
    
    /*the container must be positioned relative:*/
    .autocomplete {
      position: relative;
      display: inline-block;
    }
    
     input {
      border: 1px solid transparent;
      background-color: #f1f1f1;
      padding: 6px;
      font-size: 16px;
    }
    
    input[type=text] {
      background-color: #f1f1f1;
      width: 100%;
    }
    
    input[type=submit] {
      background-color: rgb(68, 255, 30);
      color: #fff;
      cursor: pointer;
      margin-left: 8px;
      border-radius: 4px;
      
    } 
    .autocomplete-items {
      position: absolute;
      border: 1px solid #d4d4d4;
      border-bottom: none;
      border-top: none;
      z-index: 99;
      /*position the autocomplete items to be the same width as the container:*/
      top: 100%;
      left: 0;
      right: 0;
    }
    
    .autocomplete-items div {
      padding: 10px;
      cursor: pointer;
      background-color: #fff; 
      border-bottom: 1px solid #d4d4d4; 
    }
    
    /*when hovering an item:*/
    .autocomplete-items div:hover {
      background-color: #e9e9e9; 
    }
    
    /*when navigating through the items using the arrow keys:*/
    .autocomplete-active {
      background-color: white; 
      color: #ffffff; 
    }
    .col-sm-5{
      margin-left: 140px;
      line-height: 43px;
    }
    #myInput{
    
      margin-bottom: 0 !important;
    }
    #btnAlin{
    
      margin-left: 15px;
      height: 33px;
      padding: 5px;
    
    }
    #btnAlin i{
      font-size: 18px;
    }
     #left_panel{
      padding: 15px;
      border-right:2px solid silver;
      background-color:rgb(252, 211, 151);
      border-radius: 4px;
      box-shadow: 0px 3px 6px 1px grey;
      margin-top: 38px;
    
    
    }
    .display_product{
    font-size: 14px;
    font-family:Cambria, Cochin;
    font-weight: bold;
    padding: 10px;
    
    }
    .card-body{
      text-align: left;
    }
    .card-img{
    
      text-align: left;
    }
    
    .col-sm-3:hover{
     border-radius: 4px;
      box-shadow: 0px 3px 6px 1px grey;
      cursor: pointer;
      background-color:  rgb(252, 211, 151);
    
    }
    .brand_1{
      font-size: 12px;
      font-weight: bold;
      font-family:sans-serif;
      color: rgb(107, 104, 104);
    
    }
    .card-body p{
      font-size: 12px;
      font-weight: bold;
      font-family:sans-serif;
      color: rgb(107, 104, 104);
    
    }
    p i{
    
      font-size: 20px;
      color:rgb(224, 132, 65);
    }
    .pagination{
    float: right;
    padding: 5px;
    } 
    .rates{
      color:brown;
      font-weight: bold;
      font-size: 16px;
    }
    .card-title_1{
    font-size: 17px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(21, 93, 95);
    
    }
    .delevery_date{
      color:black;
      font-weight: bold;
      font-family:sans-serif;
      font-size: 1.1em;
    
    }
    .container-fluid{
      background-color:black;
       border: 0px !important;
       width: 100%;
    }
     .headerPositionFixed{
      width: 100%;
      position: sticky;
      z-index: 2;
      top: 0px;
      background-color:rgb(136, 132, 132);
    } 
    /* .navbar-menu{
      position: fixed;

    } */
  .threeBars{
    color: white;
    font-size: 20px;
    margin-left: 5px;
    float: left;
    margin-top: 6px;
    cursor: pointer;
    }    
    .threeBarsCircle{
      float: left;
      margin-top: 2px; 
      margin-left: -11px; 
      width: 35px;
      height: 35px;
      border-radius: 50%;
      background-color: rgb(8 64 115);
      text-align: center;
      line-height: 30px;
    }
    .navbar-header{
      color:rgb(255, 238, 0);
      font-size: 20px;
      margin: 13px;
      float:left;
      /*margin-right:0px;*/
    }
    .navbar-nav{
      margin: -3px -8px !important;
    }
    .navbar{
      margin-bottom: 0px;
      border:0px !important;
      min-height: 43px !important;
    }
    .navbar-r{
      width:31%;
      padding-top: 10px;
      padding-bottom: 10px;
      float: right;
    } 
    p{
      margin: 0 0 0px;
    }
    .inpW{
      margin-top: 7px;
      margin-left: 0px;
}
    .setwidth{
     width: 59%;
     margin-top: 8px;
    }
    .navbar-input_btn{
    margin-left:0px;
    display: flex;
    width: 100%;

    /*margin-right:0px;*/
    
    }
    .img_position{
      float:left;
      height: 60px;
      margin-top: -13px;
    }
    .imgSet{
      width: 80px;
      height: 90px;
      }
    .nav li a{
      padding: 4px;
      color:white;
      font-size: 10px;
      margin-left: 0px;
    
    }
    .nav li a:hover{
      background-color: unset;
    }
    .nav li i{
      color:white;
      font-size:14px;
    }
    .nav>li>a>span i{
        font-size: 18px;
          color:rgb(255, 238, 0);
    
    }
    .badge{
      background-color:#f44336;
      color:white;
      position:absolute;
      font-size:9px;
      top:0px;
      right: 6px;

    }
    #locationMake{
      font-size: 24px;
      /* color:rgb(255, 238, 0) */
      color: yellow;
      position: absolute;
      top:-1px;
      right: 59px;
    }
    #signMake{
      font-size: 24px;
      position: absolute;
      top:-1px;
      right: 135px;

    }
    }
    /* for Tablate */
    /*
    @media(min-width:992px) and (max-width:1199px){
      body{
          background-color:white;
        } 
      header{
        width:100%;
        padding: 0px;
        margin-top: -2px;
      
      }
      
      img{
      width: 210px;
      height: 200px;
      
      }
      .acc i{
        padding: 7px;
      }
      .acc {
      font-size: 39px;
      color: white;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      padding: 2px;
      font-weight: bold;
      line-height: 15px;
      }
      .cartVal{
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: rgb(100, 157, 157);
      color: white;
      font-size: 12px;
      text-align: center;
      line-height: 22px;
       float: right;
      margin-top: 10px;
      font-family:'Times New Roman', Times, serif;
      
      }
      .accSpan{
      
        font-size: 12px;
        color:white !important;
        text-align: right;
        margin-top: -22px;
      
      }
       .account:hover .tooltiptext{
        visibility: visible;
      }
      .account:hover .tooltiptext2{
      
        visibility: visible;
      }
      .pop{
        visibility: visible;
      }
      .tooltiptext {
        visibility: hidden;
        width: 140px;
        height: 162px;
        background-color: white;
        color: black;
        text-align: left;
        border-radius: 4px;
        padding: 10px;
        box-shadow: 0px 3px 6px -4px grey;
        position: absolute;
        z-index: 1;
        margin-top: 23px;
        left:83%;
        margin-left: -135px;  
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      }
      .tooltiptext2{
        visibility: hidden;
        width: 280px;
        height: 155px;
        background-color: white;
        color: black;
        text-align: center;
        border-radius: 4px;
        padding: 10px;
        box-shadow: 0px 3px 6px -4px grey;
        position: absolute;
        z-index: 1;
        margin-top: 23px;
        left:91.5%;
        margin-left: -220px;  
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      }
      .accountInfo{
        text-align:left;
        font-size: 14px;
        color:black;
        margin-top: 5px;
      }
      .radio label{
        font-size: 14px;
        color:black;
        
      }
      
      .account{
        
      font-size: 12px;
      color: white;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      padding: 4px;
      font-weight: bold;
      }
      .account:hover{
        border:1px solid white;
        border-radius: 2px; 
      }
      .acc:hover{
        border:1px solid white;
        border-radius: 2px; 
      }
      .footer{
        height:auto;
        background-color:teal;
        color: wheat;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        padding: 10px;
        box-sizing: border-box;
        }
        .foot{
          width:100%;
          height: auto;
          text-align: center;
          font-weight: 100;
        
        }
        
        .socialLink{
          padding: 25px;
        }
        .socialLink span{
      
          padding: 5px;
        }
        .socialLink span i{
          width:50px;
          height: 50px;
          padding: 5px;
          background-color: blue;
          line-height: 42px;
          border-radius: 50%;
          font-size: 25px;
          text-align: center;
        }
        .content_align{
          font-size: 16px;
          font-family:Cambria, Cochin;
          color: wheat;
          text-align: justify;
          padding: 10px;
        }
        
      .container-fluid{
      width:1200px;
        padding-right: 0px !important;
      }
      .headerBotom{
        width: 100%;
        background-color: rgb(70, 18, 20);
        height:40px;
        line-height: 20px;
        color:wheat;
        font-size: 16px;
        padding: 10px;
      }
      .headerBotom span{
        padding:8
        
        px;
        text-align: left;
      
      }
      .headerBotom span:hover{
      border: 1px solid white;
      border-radius: 2px;
      
      }
      .headerBotom2{
        width: 100%;
        height: 40px;
        box-shadow: 0px 3px 6px -4px grey;
        line-height: 25px;
        padding: 5px;
        font-family: 'Times New Roman', Times, serif;
        margin-bottom: 10px;
      
      }
      .headerBotomInTwo{
        line-height: 25px;
        float:right;
      
      }
      .headerBotomInOne{
        float:left;
        margin-left: 15px;
        line-height: 30px;
        font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 14px;
      }
      #selectbutton{
      border-radius: 15px;
      font-size: 13px;
      font-family: Cambria, Cochin, Georgia, Times;
      height: 30px;
      color: white;
      background-color: teal;
      
      }
      .logo3 span{
        color: rgb(255, 217, 0);
      }
      
      .logo3{
      
        width:100%;
        height: 100px;
        background-color:black;
        justify-content: right;
        align-items: center;
        display: flex;
        color: white;
        box-sizing: border-box;
        font-size: 35px;
        font-weight: bold;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        margin-top: 2px;
        margin-bottom: 3px;
        margin-left: 0px;
      }
      
        tr,td{
      
          border:1px solid green;
          text-align: center;
      
        }
        th{
          background-color: brown;
          color: white;
          border: 1px solid green;
          padding: 10px;
          text-align: center;
        }
        table {
          width: 100%;
          height: auto;
      
        }
        .grid1{
          text-align: justify;
        }
        .grid2{
          text-align: justify;
        }
        .grid3{
          text-align: justify;
        }
        h3{
          font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
          font-size: 18px;
          color:red;
      
        }
        h3:hover{
          color: rgb(199, 36, 36);
        }
        h4{
          font-size: 16px;
          color:rgb(199, 36, 36);
          text-align: center;
      
      
        }
        h5{
          color: white;
          font-size: 14px;
          color:rgb(235, 144, 26);
          font-family:Cambria, Cochin;
          color: #01031b;
      
        }
        a:hover{
          text-decoration: none;
          color: white;
        }
        a{
          color:white;
        }
      hr.new1{
        border-top: 1px solid white;
      
      }
      .footerHead{
        text-align: center;
        font-size: bold;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        background-color:rgb(70, 18, 20);
        height:40px;
        line-height: 40px;
      }
      .footerHead a{
        color:wheat;
      }
      .contactFooter{
      text-align: center;
      color:brown;
      }
      .content_align{
        font-size: 16px;
        font-family:Cambria, Cochin;
        color: wheat;
        text-align: justify;
        width:100%;
      }
      /* * {
        box-sizing: border-box;
      } */
      /*
      body {
        font: 16px Arial;  
      }
      
      /*the container must be positioned relative:*/
      /*
      .autocomplete {
        position: relative;
        display: inline-block;
      }
      
       input {
        border: 1px solid transparent;
        background-color: #f1f1f1;
        padding: 5px;
        font-size: 16px;
      }
      
      input[type=text] {
        background-color: #f1f1f1;
        width: 100%;
      }
      
      input[type=submit] {
        background-color: rgb(68, 255, 30);
        color: #fff;
        cursor: pointer;
        margin-left: 8px;
        border-radius: 4px;
        
      } 
      .autocomplete-items {
        position: absolute;
        border: 1px solid #d4d4d4;
        border-bottom: none;
        border-top: none;
        z-index: 99;
        /*position the autocomplete items to be the same width as the container:*/
        /*
        top: 100%;
        left: 0;
        right: 0;
      }
      
      .autocomplete-items div {
        padding: 10px;
        cursor: pointer;
        background-color: #fff; 
        border-bottom: 1px solid #d4d4d4; 
      }
      
      /*when hovering an item:*/
      /*
      .autocomplete-items div:hover {
        background-color: #e9e9e9; 
      }
      
      /*when navigating through the items using the arrow keys:*/
      /*
      .autocomplete-active {
        background-color: DodgerBlue !important; 
        color: #ffffff; 
      }
      .col-sm-5{
        margin-left: 140px;
        line-height: 43px;
      }
      #myInput{
      
        margin-bottom: 0 !important;
      }
      #btnAlin{
      
        margin-left: 15px;
        height: 33px;
        padding: 5px;
      
      }
      #btnAlin i{
        font-size: 18px;
      }
       #left_panel{
        padding: 15px;
        border-right:2px solid silver;
        background-color:rgb(252, 211, 151);
        border-radius: 4px;
        box-shadow: 0px 3px 6px 1px grey;
      
      
      }
      .display_product{
      font-size: 14px;
      font-family:Cambria, Cochin;
      font-weight: bold;
      padding: 10px;
      
      }
      .card-body{
        text-align: left;
      }
      .card-img{
      
        text-align: left;
      }
      
      .col-sm-3:hover{
       border-radius: 4px;
        box-shadow: 0px 3px 6px 1px grey;
        cursor: pointer;
        background-color:  rgb(252, 211, 151);
      
      }
      .brand_1{
        font-size: 12px;
        font-weight: bold;
        font-family:sans-serif;
        color: rgb(107, 104, 104);
      
      }
      .card-body p{
        font-size: 12px;
        font-weight: bold;
        font-family:sans-serif;
        color: rgb(107, 104, 104);
      
      }
      p i{
      
        font-size: 20px;
        color:rgb(224, 132, 65);
      }
      .pagination{
      float: right;
      padding: 5px;
      } 
      .rates{
        color:brown;
        font-weight: bold;
        font-size: 16px;
      }
      .card-title_1{
      font-size: 17px;
      font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      color: rgb(21, 93, 95);
      
      }
      .delevery_date{
        color:black;
        font-weight: bold;
        font-family:sans-serif;
        font-size: 1.1em;
      
      }
      .container-fluid{
        background-color:black;
         border: 0px !important;
         width: 100%;
      }
      .navbar-inverse{
         max-width: 100%;
         height:auto;
         background-color:teal;
         border-radius: 0 !important;
      }
      
      .navbar-header{
        color:rgb(255, 238, 0);
        font-size: 30px;
        margin: 13px;
        float:left;
        margin-right:0px;
      }
      .navbar{
        margin-bottom: 0px;
      }
      .navbar-r{
        width:31%;
        padding-top: 10px;
        padding-bottom: 10px;
        float: right;
      } 
      p{
        margin: 0 0 0px;
      }
      #inpW{
        width:75%;
        margin: 5px;
        float:left;
      }
      .navbar-input_btn{
      margin:13px;
      float:left;
      width:45%;
      margin-right:0px;
      
      }
      .img_position{
        float:left;
      }
      .imgSet{
        width: 70px;
        height: 70px;
        }
      .nav li a{
        padding: 5px;
        color:wheat;
        font-size: 13px;
        margin-left: 10px;
      
      }
      .nav li i{
        color:wheat;
        font-size:14px;
      }
      .nav>li>a>span i{
          font-size: 18px;
            color:rgb(255, 238, 0);
      
      }
      .badge{
        background-color:red;
        color:white;
        position:absolute;
        font-size:10px;
        top:0px;
      }
      #locationMake{
        font-size: 18px;
        color:rgb(255, 238, 0)
      }
      }
      /* For Mobile */
      /*
    @media(min-width:768px) and (max-width:991px){
        body{
            background-color:white;
          } 
        header{
          width:100%;
          padding: 0px;
          margin-top: -2px;
        
        }
        
        img{
        width: 210px;
        height: 200px;
        
        }
        .acc i{
          padding: 7px;
        }
        .acc {
        font-size: 39px;
        color: white;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        padding: 2px;
        font-weight: bold;
        line-height: 15px;
        }
        .cartVal{
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: rgb(100, 157, 157);
        color: white;
        font-size: 12px;
        text-align: center;
        line-height: 22px;
         float: right;
        margin-top: 10px;
        font-family:'Times New Roman', Times, serif;
        
        }
        .accSpan{
        
          font-size: 12px;
          color:white !important;
          text-align: right;
          margin-top: -22px;
        
        }
         .account:hover .tooltiptext{
          visibility: visible;
        }
        .account:hover .tooltiptext2{
        
          visibility: visible;
        }
        .pop{
          visibility: visible;
        }
        .tooltiptext {
          visibility: hidden;
          width: 140px;
          height: 162px;
          background-color: white;
          color: black;
          text-align: left;
          border-radius: 4px;
          padding: 10px;
          box-shadow: 0px 3px 6px -4px grey;
          position: absolute;
          z-index: 1;
          margin-top: 23px;
          left:83%;
          margin-left: -135px;  
          font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
        .tooltiptext2{
          visibility: hidden;
          width: 280px;
          height: 155px;
          background-color: white;
          color: black;
          text-align: center;
          border-radius: 4px;
          padding: 10px;
          box-shadow: 0px 3px 6px -4px grey;
          position: absolute;
          z-index: 1;
          margin-top: 23px;
          left:91.5%;
          margin-left: -220px;  
          font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
        .accountInfo{
          text-align:left;
          font-size: 14px;
          color:black;
          margin-top: 5px;
        }
        .radio label{
          font-size: 14px;
          color:black;
          
        }
        
        .account{
          
        font-size: 12px;
        color: white;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        padding: 4px;
        font-weight: bold;
        }
        .account:hover{
          border:1px solid white;
          border-radius: 2px; 
        }
        .acc:hover{
          border:1px solid white;
          border-radius: 2px; 
        }
        .footer{
          height:auto;
          background-color:teal;
          color: wheat;
          font-family:Verdana, Geneva, Tahoma, sans-serif;
          padding: 10px;
          box-sizing: border-box;
          }
          .foot{
            width:100%;
            height: auto;
            text-align: center;
            font-weight: 100;
          
          }
          
          .socialLink{
            padding: 25px;
          }
          .socialLink span{
        
            padding: 5px;
          }
          .socialLink span i{
            width:50px;
            height: 50px;
            padding: 5px;
            background-color: blue;
            line-height: 42px;
            border-radius: 50%;
            font-size: 25px;
            text-align: center;
          }
          .content_align{
            font-size: 16px;
            font-family:Cambria, Cochin;
            color: wheat;
            text-align: justify;
            padding: 10px;
          }
          
        .container-fluid{
        width:1200px;
          padding-right: 0px !important;
        }
        .headerBotom{
          width: 100%;
          background-color: rgb(70, 18, 20);
          height:40px;
          line-height: 20px;
          color:wheat;
          font-size: 16px;
          padding: 10px;
        }
        .headerBotom span{
          padding:8px;
          text-align: left;
        
        }
        .headerBotom span:hover{
        border: 1px solid white;
        border-radius: 2px;
        
        }
        .headerBotom2{
          width: 100%;
          height: 40px;
          box-shadow: 0px 3px 6px -4px grey;
          line-height: 25px;
          padding: 5px;
          font-family: 'Times New Roman', Times, serif;
          margin-bottom: 10px;
        
        }
        .headerBotomInTwo{
          line-height: 25px;
          float:right;
        
        }
        .headerBotomInOne{
          float:left;
          margin-left: 15px;
          line-height: 30px;
          font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
          font-size: 14px;
        }
        #selectbutton{
        border-radius: 15px;
        font-size: 13px;
        font-family: Cambria, Cochin, Georgia, Times;
        height: 30px;
        color: white;
        background-color: teal;
        
        }
        .logo3 span{
          color: rgb(255, 217, 0);
        }
        
        .logo3{
        
          width:100%;
          height: 100px;
          background-color:black;
          justify-content: right;
          align-items: center;
          display: flex;
          color: white;
          box-sizing: border-box;
          font-size: 35px;
          font-weight: bold;
          font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
          margin-top: 2px;
          margin-bottom: 3px;
          margin-left: 0px;
        }
        
          tr,td{
        
            border:1px solid green;
            text-align: center;
        
          }
          th{
            background-color: brown;
            color: white;
            border: 1px solid green;
            padding: 10px;
            text-align: center;
          }
          table {
            width: 100%;
            height: auto;
        
          }
          .grid1{
            text-align: justify;
          }
          .grid2{
            text-align: justify;
          }
          .grid3{
            text-align: justify;
          }
          h3{
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            font-size: 18px;
            color:red;
        
          }
          h3:hover{
            color: rgb(199, 36, 36);
          }
          h4{
            font-size: 16px;
            color:rgb(199, 36, 36);
            text-align: center;
        
        
          }
          h5{
            color: white;
            font-size: 14px;
            color:rgb(235, 144, 26);
            font-family:Cambria, Cochin;
            color: #01031b;
        
          }
          a:hover{
            text-decoration: none;
            color: white;
          }
          a{
            color:white;
          }
        hr.new1{
          border-top: 1px solid white;
        
        }
        .footerHead{
          text-align: center;
          font-size: bold;
          font-family: Verdana, Geneva, Tahoma, sans-serif;
          background-color:rgb(70, 18, 20);
          height:40px;
          line-height: 40px;
        }
        .footerHead a{
          color:wheat;
        }
        .contactFooter{
        text-align: center;
        color:brown;
        }
        .content_align{
          font-size: 16px;
          font-family:Cambria, Cochin;
          color: wheat;
          text-align: justify;
          width:100%;
        }
        /* * {
          box-sizing: border-box;
        } */
       /* 
        body {
          font: 16px Arial;  
        }
        
        /*the container must be positioned relative:*/
        
        /*.autocomplete {
          position: relative;
          display: inline-block;
        }
        
         input {
          border: 1px solid transparent;
          background-color: #f1f1f1;
          padding: 5px;
          font-size: 16px;
        }
        
        input[type=text] {
          background-color: #f1f1f1;
          width: 100%;
        }
        
        input[type=submit] {
          background-color: rgb(68, 255, 30);
          color: #fff;
          cursor: pointer;
          margin-left: 8px;
          border-radius: 4px;
          
        } 
        .autocomplete-items {
          position: absolute;
          border: 1px solid #d4d4d4;
          border-bottom: none;
          border-top: none;
          z-index: 99;
          /*position the autocomplete items to be the same width as the container:*/
         /* top: 100%;
          left: 0;
          right: 0;
        }
        
        .autocomplete-items div {
          padding: 10px;
          cursor: pointer;
          background-color: #fff; 
          border-bottom: 1px solid #d4d4d4; 
        }
        
        /*when hovering an item:*/
        /*.autocomplete-items div:hover {
          background-color: #e9e9e9; 
        }
        
        /*when navigating through the items using the arrow keys:*/
        /*.autocomplete-active {
          background-color: DodgerBlue !important; 
          color: #ffffff; 
        }
        .col-sm-5{
          margin-left: 140px;
          line-height: 43px;
        }
        #myInput{
        
          margin-bottom: 0 !important;
        }
        #btnAlin{
        
          margin-left: 15px;
          height: 33px;
          padding: 5px;
        
        }
        #btnAlin i{
          font-size: 18px;
        }
         #left_panel{
          padding: 15px;
          border-right:2px solid silver;
          background-color:rgb(252, 211, 151);
          border-radius: 4px;
          box-shadow: 0px 3px 6px 1px grey;
        
        
        }
        .display_product{
        font-size: 14px;
        font-family:Cambria, Cochin;
        font-weight: bold;
        padding: 10px;
        
        }
        .card-body{
          text-align: left;
        }
        .card-img{
        
          text-align: left;
        }
        
        .col-sm-3:hover{
         border-radius: 4px;
          box-shadow: 0px 3px 6px 1px grey;
          cursor: pointer;
          background-color:  rgb(252, 211, 151);
        
        }
        .brand_1{
          font-size: 12px;
          font-weight: bold;
          font-family:sans-serif;
          color: rgb(107, 104, 104);
        
        }
        .card-body p{
          font-size: 12px;
          font-weight: bold;
          font-family:sans-serif;
          color: rgb(107, 104, 104);
        
        }
        p i{
        
          font-size: 20px;
          color:rgb(224, 132, 65);
        }
        .pagination{
        float: right;
        padding: 5px;
        } 
        .rates{
          color:brown;
          font-weight: bold;
          font-size: 16px;
        }
        .card-title_1{
        font-size: 17px;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        color: rgb(21, 93, 95);
        
        }
        .delevery_date{
          color:black;
          font-weight: bold;
          font-family:sans-serif;
          font-size: 1.1em;
        
        }
        .container-fluid{
          background-color:black;
           border: 0px !important;
           width: 100%;
        }
        .navbar-inverse{
           max-width: 100%;
           height:auto;
           background-color:teal;
           border-radius: 0 !important;
        }
        
        .navbar-header{
          color:rgb(255, 238, 0);
          font-size: 30px;
          margin: 13px;
          float:left;
          margin-right:0px;
        }
        .navbar{
          margin-bottom: 0px;
        }
        .navbar-r{
          width:31%;
          padding-top: 10px;
          padding-bottom: 10px;
          float: right;
        } 
        p{
          margin: 0 0 0px;
        }
        #inpW{
          width:75%;
          margin: 5px;
          float:left;
        }
        .navbar-input_btn{
        margin:13px;
        float:left;
        width:45%;
        margin-right:0px;
        
        }
        .img_position{
          float:left;
        }
        .imgSet{
          width: 70px;
          height: 70px;
          }
        .nav li a{
          padding: 5px;
          color:wheat;
          font-size: 13px;
          margin-left: 10px;
        
        }
        .nav li i{
          color:wheat;
          font-size:14px;
        }
        .nav>li>a>span i{
            font-size: 18px;
              color:rgb(255, 238, 0);
        
        }
        .badge{
          background-color:red;
          color:white;
          position:absolute;
          font-size:10px;
          top:0px;
        }
        #locationMake{
          font-size: 18px;
          color:rgb(255, 238, 0)
        }
        }
      /*--for Small Mobile--*/
      /* @media(min-width:320px) and (max-width:768px){ */
        body{
            background-color:white;
          } 
          .inpW{
            margin-left: 10px;
            float: left;
          }
          .navbar-inverse{
            width: 100%;
            background-color:rgb(6, 45, 81);
            border-radius: 0 !important;

         }
         .navbar-menu{
          width: 100%;
          background-color:rgb(6, 45, 81);
          border-radius: 0 !important;

       }

          .listFloating li {
            align-items: center;
            display: inline-flex;
    
          }
          .setBtn{
            float:left;
            margin-top: 7px;
            margin-left: 4px;
            margin-right: 2px;


          }
        header{
          width:100%;
          padding: 0px;
          margin-top: -2px;
        
        }
        
        img{
        width: 210px;
        height: 200px;
        
        }
        .acc i{
          padding: 7px;
        }
        .acc {
        font-size: 39px;
        color: white;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        padding: 2px;
        font-weight: bold;
        line-height: 15px;
        }
        .cartVal{
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: rgb(100, 157, 157);
        color: white;
        font-size: 12px;
        text-align: center;
        line-height: 22px;
         float: right;
        margin-top: 10px;
        font-family:'Times New Roman', Times, serif;
        
        }
        .accSpan{
        
          font-size: 12px;
          color:white !important;
          text-align: right;
          margin-top: -22px;
        
        }
         .account:hover .tooltiptext{
          visibility: visible;
        }
        .account:hover .tooltiptext2{
        
          visibility: visible;
        }
        .pop{
          visibility: visible;
        }
        .tooltiptext {
          visibility: hidden;
          width: 140px;
          height: 162px;
          background-color: white;
          color: black;
          text-align: left;
          border-radius: 4px;
          padding: 10px;
          box-shadow: 0px 3px 6px -4px grey;
          position: absolute;
          z-index: 1;
          margin-top: 23px;
          left:83%;
          margin-left: -135px;  
          font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
        .tooltiptext2{
          visibility: hidden;
          width: 280px;
          height: 155px;
          background-color: white;
          color: black;
          text-align: center;
          border-radius: 4px;
          padding: 10px;
          box-shadow: 0px 3px 6px -4px grey;
          position: absolute;
          z-index: 1;
          margin-top: 23px;
          left:91.5%;
          margin-left: -220px;  
          font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
        .accountInfo{
          text-align:left;
          font-size: 14px;
          color:black;
          margin-top: 5px;
        }
        .radio label{
          font-size: 14px;
          color:black;
          
        }
        
        .account{
          
        font-size: 12px;
        color: white;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        padding: 4px;
        font-weight: bold;
        }
        .account:hover{
          border:1px solid white;
          border-radius: 2px; 
        }
        .acc:hover{
          border:1px solid white;
          border-radius: 2px; 
        }
        .footer{
          height:auto;
          background-color:teal;
          color: wheat;
          font-family:Verdana, Geneva, Tahoma, sans-serif;
          padding: 10px;
          box-sizing: border-box;
          }
          .foot{
            width:100%;
            height: auto;
            text-align: center;
            font-weight: 100;
          
          }
          
          .socialLink{
            padding: 25px;
          }
          .socialLink span{
        
            padding: 5px;
          }
          .socialLink span i{
            width:50px;
            height: 50px;
            padding: 5px;
            background-color: blue;
            line-height: 42px;
            border-radius: 50%;
            font-size: 25px;
            text-align: center;
          }
          .content_align{
            font-size: 16px;
            font-family:Cambria, Cochin;
            color: wheat;
            text-align: justify;
            padding: 10px;
          }
          
        .container-fluid{
          width:1200px;
          padding-right: 0px !important;
        }
        .headerBotom{
          width: 100%;
          height:auto;
          color:wheat;
          font-size: 16px;
          padding: 8px;
          /* margin-top: -20px; */
        }
        .headerBotom span{
          padding:8px;
          display: block;
          
        }
        .headerBotom span:hover{
        border: 1px solid white;
        width:140px;
        border-radius: 2px;
        text-align: center;
        
        }
        .headerBotom2{
          width: 100%;
          height: 40px;
          box-shadow: 0px 3px 6px -4px grey;
          line-height: 25px;
          padding: 8px;
          font-family: 'Times New Roman', Times, serif;
          margin-bottom: 10px;
        
        }
        .headerBotomInTwo{
          line-height: 25px;
          float:right;
        
        }
        .headerBotomInOne{
          float:left;
          line-height: 30px;
          font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
          font-size: 10px;
          color:black;
        }
        #selectbutton{
        border-radius: 15px;
        font-size: 13px;
        font-family: Cambria, Cochin, Georgia, Times;
        height: 30px;
        color: white;
        background-color: teal;
        
        }
        #selectbutton::selection{
       border: none;
        }

        .logo3 span{
          color: rgb(255, 217, 0);
        }
        
        .logo3{
          width:100%;
          height: 100px;
          background-color:black;
          justify-content: right;
          align-items: center;
          display: flex;
          color: white;
          box-sizing: border-box;
          font-size: 35px;
          font-weight: bold;
          font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
          margin-top: 2px;
          margin-bottom: 3px;
          margin-left: 0px;
        }
        
          tr,td{
        
            border:1px solid green;
            text-align: center;
        
          }
          th{
            background-color: brown;
            color: white;
            border: 1px solid green;
            padding: 10px;
            text-align: center;
          }
          table {
            width: 100%;
            height: auto;
        
          }
          .grid1{
            text-align: justify;
          }
          .grid2{
            text-align: justify;
          }
          .grid3{
            text-align: justify;
          }
          h3{
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            font-size: 18px;
            color:red;
        
          }
          h3:hover{
            color: rgb(199, 36, 36);
          }
          h4{
            font-size: 16px;
            color:rgb(199, 36, 36);
            text-align: center;
        
        
          }
          h5{
            color: white;
            font-size: 14px;
            color:rgb(235, 144, 26);
            font-family:Cambria, Cochin;
            color: #01031b;
        
          }
          a:hover{
            text-decoration: none;
            /* color: white; */
          }
          a{
            color:white;
          }
        hr.new1{
          border-top: 1px solid white;
        
        }
        .footerHead{
          text-align: center;
          font-size: bold;
          font-family: Verdana, Geneva, Tahoma, sans-serif;
          background-color:rgb(70, 18, 20);
          height:40px;
          line-height: 40px;
        }
        .footerHead a{
          color:wheat;
        }
        .contactFooter{
        text-align: center;
        color:brown;
        }
        .content_align{
          font-size: 16px;
          font-family:Cambria, Cochin;
          color: wheat;
          text-align: justify;
          width:100%;
        }
     /* }*/
        /* * {
          box-sizing: border-box;
       /* } */
        
      /*  body {
          font: 16px Arial;  
        }
        
        /*the container must be positioned relative:*/
       /* .autocomplete {
          position: relative;
          display: inline-block;
        }
        
         input {
          border: 1px solid transparent;
          background-color: #f1f1f1;
          padding: 5px;
          font-size: 16px;
        }
        
        input[type=text] {
          background-color: #f1f1f1;
          width: 100%;
        }
        
        input[type=submit] {
          background-color: rgb(68, 255, 30);
          color: #fff;
          cursor: pointer;
          margin-left: 8px;
          border-radius: 4px;
          
        } 
        .autocomplete-items {
          position: absolute;
          border: 1px solid #d4d4d4;
          border-bottom: none;
          border-top: none;
          z-index: 99;
          /*position the autocomplete items to be the same width as the container:*/
        /*  top: 100%;
          left: 0;
          right: 0;
        }
        
        .autocomplete-items div {
          padding: 10px;
          cursor: pointer;
          background-color: #fff; 
          border-bottom: 1px solid #d4d4d4; 
        }
        
        /*when hovering an item:*/
       /* .autocomplete-items div:hover {
          background-color: #e9e9e9; 
        }
        
        /*when navigating through the items using the arrow keys:*/
        /*.autocomplete-active {
          background-color: DodgerBlue !important; 
          color: #ffffff; 
        }
        .col-sm-5{
          margin-left: 140px;
          line-height: 43px;
        }
        #myInput{
        
          margin-bottom: 0 !important;
        }
        #btnAlin{
        
          margin-left: 15px;
          height: 33px;
          padding: 5px;
        
        }
        #btnAlin i{
          font-size: 18px;
        }
         #left_panel{
          padding: 15px;
          border-right:2px solid silver;
          background-color:rgb(252, 211, 151);
          border-radius: 4px;
          box-shadow: 0px 3px 6px 1px grey;
        
        
        }
        .display_product{
        font-size: 14px;
        font-family:Cambria, Cochin;
        font-weight: bold;
        padding: 10px;
        
        }
        .card-body{
          text-align: left;
        }
        .card-img{
        
          text-align: left;
        }
        
        .col-sm-3:hover{
         border-radius: 4px;
          box-shadow: 0px 3px 6px 1px grey;
          cursor: pointer;
          background-color:  rgb(252, 211, 151);
        
        }
        .brand_1{
          font-size: 12px;
          font-weight: bold;
          font-family:sans-serif;
          color: rgb(107, 104, 104);
        
        }
        .card-body p{
          font-size: 12px;
          font-weight: bold;
          font-family:sans-serif;
          color: rgb(107, 104, 104);
        
        }
        p i{
        
          font-size: 20px;
          color:rgb(224, 132, 65);
        }
        .pagination{
        float: right;
        padding: 3px;
        } 
        .rates{
          color:brown;
          font-weight: bold;
          font-size: 16px;
        }
        .card-title_1{
        font-size: 17px;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        color: rgb(21, 93, 95);
        
        }
        .delevery_date{
          color:black;
          font-weight: bold;
          font-family:sans-serif;
          font-size: 1.1em;
        
        }
        .container-fluid{
          background-color:black;
           border: 0px !important;
           width: 100%;
        }
        .navbar-inverse{
           max-width: 100%;
           height:auto;
           background-color:teal;
           border-radius: 0 !important;
        }
        
        .navbar-header{
          color:rgb(255, 238, 0);
          font-size: 3em;
          margin: 13px;
          float:left;
          margin-right:0px;
          font-weight:bolder;
        }
        .navbar-r{
          display: flex;
          padding-left: 10px;
          padding-right: 10px;
    
        } 
        p{
          margin: 0 0 0px;
        }
        #inpW{
          margin-top: 5px;
          margin-left: 10px;
        }
        .navbar-input_btn{
        width: 100%;
        margin: auto;
        display:flex;
        
        }
        .img_position{
          float:left;
        }
        .imgSet{
          width: 100px;
          height: 100px;
          }
        .nav li a{
          padding: 5px;
          color:wheat;
          font-size: 10px;
          margin-left: 10px;
        
        }
        .nav li i{
          color:wheat;
          font-size:14px;
        }
        .nav>li>a>span i{
            font-size: 18px;
              color:rgb(255, 238, 0);
        
        }
        .badge{
          background-color:red;
          color:white;
          position:absolute;
          font-size:10px;
          top:0px;
        }
        #locationMake{
          font-size: 18px;
          color:rgb(255, 238, 0)
        }
        }
      */

      
      
      /*the container must be positioned relative:*/
