<footer>
  <div class="mobi-sec-footer">
<ul class="mobi-sec-footer-list" id="footer-height">
  <li>
    <a class="footer-menu-link" routerLink="/" routerLinkActive="active" #rla="routerLinkActive">
      <span class="mobi-foot-image"><i class="fa fa-home" ></i></span>
      <span class="mobi-foot-name">HOME</span>
    </a>
  </li>
  <li>
    <a  class="footer-menu-link"  routerLink="/addcart" routerLinkActive="active" #rla="routerLinkActive">
      <span class="mobi-foot-image port-lst-image"><i class="fa fa-shopping-cart"></i></span>
      <span class="mobi-foot-name">GO TO CART</span>
    </a>
  </li>
  <li>
    <a class="footer-menu-link"  routerLink="/deliverystatus" routerLinkActive="active" #rla="routerLinkActive">
      <span class="mobi-foot-image orders-lst-image"><i class="fa fa-car"></i></span>
      <span class="mobi-foot-name">STATUS </span>
    </a>
  </li>
  <li>
    <a class="footer-menu-link"  (click)="back()" routerLinkActive="active" #rla="routerLinkActive">
      <span class="mobi-foot-image fund-lst-image"><i class='fa fa-arrow-left'></i></span>
      <span class="mobi-foot-name">BACK</span>
    </a>
  </li>
</ul>
</div>
<div class="overlay"></div>

<div class="scripsoverlay"></div>
</footer>
