<footer>
  <div class="mobi-sec-footer">
<ul class="mobi-sec-footer-list" id="footer-height">
  <li>
    <a class="footer-menu-link" routerLink="/dashboard" routerLinkActive="active" #rla="routerLinkActive">
      <span class="mobi-foot-image"><mat-icon>home</mat-icon> </span>
      <span class="mobi-foot-name">HOME</span>
    </a>
  </li>
  <li>
    <a  class="footer-menu-link"  routerLink="/addcart" routerLinkActive="active" #rla="routerLinkActive">
      <span class="mobi-foot-image port-lst-image"><mat-icon>shopping_cart</mat-icon></span>
      <span class="mobi-foot-name">GO TO CART</span>
    </a>
  </li>
  <li>
    <a class="footer-menu-link"  routerLink="/deliverystatus" routerLinkActive="active" #rla="routerLinkActive">
      <span class="mobi-foot-image orders-lst-image"><mat-icon>directions_car</mat-icon></span>
      <span class="mobi-foot-name">STATUS </span>
    </a>
  </li>
  <li>
    <a class="footer-menu-link"  (click)="back()" routerLinkActive="active" #rla="routerLinkActive">
      <span class="mobi-foot-image fund-lst-image"><mat-icon>keyboard_backspace</mat-icon></span>
      <span class="mobi-foot-name">BACK</span>
    </a>
  </li>
</ul>
</div>
<div class="overlay"></div>

<div class="scripsoverlay"></div>
</footer>
