  <div class="col-sm-12" > 
  <div *ngIf="emptyCart" class="addCart-content"> Your Cart is Empty Now</div>
  </div>
  <div *ngIf="addcartFlag">
  <div class="col-sm-12">
    <div class="zoom_left_inner_panel">
      <img style="width:150px;height:150px;"src="assets/img/{{addCartData.product_img}}">
   </div>
  </div>  
<div class="col-sm-12 py-10">
<div class="zoom_right_panel">  
  <div class="card-body">
    <div> 
      <h5 class="card-title_1"><strong>{{addCartData.product_name}}</strong></h5>
        <p> 
          M.R.P : ₹ <del >
          {{addCartData.product_mrp_price}}</del> 
          Save ₹ {{addCartData.product_mrp_price-addCartData.product_price}}
          </p>
      <p class="card-text">Get it by 
        <span class="delevery_date">
        {{addCartData.product_delivery_date}}
      </span>
      <span >
      </span>

    </p> 
    </div>
    <div class="zoom_right_panel">  
    <div class="rates" >
         Price : ₹{{addCartData.product_price}} 
         <hr>
        <h5 class="card-title_1" ><strong> Subtotal : ₹ {{this.addPrice}} ({{quantity}} item) </strong></h5>
        <hr style="border-bottom: 0.1px solid gray;">
      </div>
    </div>
  </div>
</div>
</div>

<div class="col-sm-6" >
  <div class="zoom_right_panel" >  
  <div>
  <button class="btn btn-warning" style="margin-bottom: 80px;" (click)="deleteCart()"> Delete Cart</button>
   &nbsp;&nbsp;
  <button class="btn btn-danger btn-md" style="margin-bottom: 80px;" (click)="addDetails()">Proceed to Buy</button>
</div>
</div>
</div>

