<div *ngFor="let electronicData of electronicItems" class="card-content">
  <input class="form-control" id="myInput" type="text" placeholder="Filter...">
  <br>
  <ul class="list-group" id="myList">
    <li class="list-group-item">500-700</li>
    <li class="list-group-item">700-900</li>
    <li class="list-group-item">5100-55000</li>
    <li class="list-group-item">21000-2500</li>
    </ul>  
  <div class="container">
      <div class="col-sm-2">
  <div  class="set-img" >
  <div class="image-align"(click)="imgClick(electronicData)">
  <!-- <img class="product-image" src="./assets/img/{{electronicData.product_img}}"> -->
</div>
  <!-- <h5>{{electronicData.product_name}}</h5>
  <h6>MRP : {{electronicData.product_mrp}}</h6>
  <h6>Price : {{electronicData.product_price}}</h6> -->
</div>
</div>
</div>
</div>

