.btn-dark {
   background-color: rgb(69, 186, 98);
   border: 0px !important;
}

.loginErr {
   font-size: 15px;
   font-weight: 500;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   color: rgb(21, 93, 95);
   text-align: center;

}