<div *ngFor="let groceryData of groceryItem" class="card-content">
  <br>
  <ul class="list-group" id="myList">
    <li class="list-group-item">500-700</li>
    <li class="list-group-item">700-900</li>
    <li class="list-group-item">5100-55000</li>
    <li class="list-group-item">21000-2500</li>
    </ul>  
  <div class="container">
  <div class="container">
    <div class="d-flex flex-wrap bg-light">
      <div  class="set-img" >
  <div class="image-align"(click)="imgClick(groceryData)">
  <!-- <img class="product-image" src="./assets/img/{{groceryData.product_img}}"> -->
</div>
  <!-- <h5>{{groceryData.product_name}}</h5>
  <h6>MRP : {{groceryData.product_mrp}}</h6>
  <h6>Price : {{groceryData.product_price}}</h6> -->
</div>
</div>
</div>

