.table-container {
  overflow-x: auto;
}
table {
  min-width: 600px; /* Adjust to your content */
}

img.img-responsive.img-tbl {
    width: 60px;
    height: 50px;
    border:1px solid #ddd;
}
::ng-deep mat-table, 
::ng-deep mat-header-row, 
::ng-deep mat-row, 
::ng-deep mat-cell, 
::ng-deep mat-header-cell {
  font-family: 'Poppins', sans-serif !important;
}

/* Apply Poppins to the entire mat-table */
mat-table, mat-header-row, mat-row, mat-cell, mat-header-cell {
  font-family: 'Poppins', sans-serif !important;
}

::ng-deep tbody.mdc-data-table__content td,
::ng-deep tbody.mdc-data-table__content th {
    font-family: 'Poppins', sans-serif !important;
}
::ng-deep .mat-mdc-table .mat-mdc-header-cell {
    background: inherit;
    font-family: 'Poppins', sans-serif !important;
}

::ng-deep td.mat-mdc-cell.mdc-data-table__cell.cdk-cell.wide-column.innercontent.cdk-column-Product-Description.mat-column-Product-Description ul li i{ 
  font-family: 'Poppins', sans-serif !important;
  font-style:normal;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
  list-style: none !important;
  cursor: pointer;
}
td.mat-mdc-cell.mdc-data-table__cell.cdk-cell.wide-column.innercontent.cdk-column-Product-Description.mat-column-Product-Description {
    list-style: none;
    cursor: pointer;
}
/* styles.css or component with ViewEncapsulation.None */
.custom-tooltip {
  background: rgba(163, 6, 6, 0.1);
  backdrop-filter: blur(8px);
  color: #fff;
  padding: 12px 16px;
  border-radius: 4px;
  border: 1px solid rgba(205, 202, 202, 0.2);
  font-size: 13px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.25);
}



