
<!-- <app-header *ngIf="router.url === '/watchlist' || router.url === '/watchlist/delete-scrip' || router.url === '/watchlist/margin-calculator' || router.url === '/view-funds' || router.url === '/view-funds/payin' || router.url === '/portfolio' || router.url === '/portfolio/edis-holdings' || router.url === '/order-book' || router.url === '/settings/notifications' || router.url === '/settings/exchange-messages' || router.url === '/settings/markets' || router.url === '/refer-earn'"></app-header> -->
<app-header></app-header>
<router-outlet></router-outlet> 
<app-footer></app-footer>
<!-- <app-footer *ngIf="router.url === '/watchlist' || router.url === '/view-funds' ||  router.url === '/portfolio' || router.url === '/order-book' || router.url === '/portfolio/edis-holdings'"></app-footer> -->
