  body{
    background-color:white;
  } 
  *{
  margin:0;
  padding:0;
}
header{
  width:100%;
  padding: 0px;
  margin-top: -2px;

}

img{
width: 260px;
height: 250px;

}
.acc i{
  padding: 7px;
}
.acc {
font-size: 39px;
color: white;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
padding: 2px;
font-weight: bold;
line-height: 15px;
}
.cartVal{
width: 20px;
height: 20px;
border-radius: 50%;
background-color: rgb(100, 157, 157);
color: white;
font-size: 12px;
text-align: center;
line-height: 22px;
 float: right;
margin-top: 10px;
font-family:'Times New Roman', Times, serif;

}
.accSpan{

  font-size: 12px;
  color:white !important;
  text-align: right;
  margin-top: -22px;

}
 .account:hover .tooltiptext{
  visibility: visible;
}
.account:hover .tooltiptext2{

  visibility: visible;
}
.tooltiptext {
  visibility: hidden;
  width: 140px;
  height: 162px;
  background-color: white;
  color: black;
  text-align: left;
  border-radius: 4px;
  padding: 10px;
  box-shadow: 0px 3px 6px -4px grey;
  position: absolute;
  z-index: 1;
  margin-top: 23px;
  left:83%;
  margin-left: -135px;  
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.tooltiptext2{
  visibility: hidden;
  width: 280px;
  height: 155px;
  background-color: white;
  color: black;
  text-align: center;
  border-radius: 4px;
  padding: 10px;
  box-shadow: 0px 3px 6px -4px grey;
  position: absolute;
  z-index: 1;
  margin-top: 23px;
  left:91.5%;
  margin-left: -220px;  
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.accountInfo{
  text-align:left;
  font-size: 14px;
  color:black;
  margin-top: 5px;
}
.radio label{
  font-size: 14px;
  color:black;
  
}

.account{
  
font-size: 12px;
color: white;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
padding: 4px;
font-weight: bold;
}
.account:hover{
  border:1px solid white;
  border-radius: 2px; 
}
.acc:hover{
  border:1px solid white;
  border-radius: 2px; 
}
.footer{
  height:370px;
  background-color:black;
  color: white;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  padding: 10px;
  box-sizing: border-box;
  }
  .Webside{
    text-align: center;
    font-weight: 100;
  }
  .socialLink{
    padding: 25px;
  }
  .socialLink span{

    padding: 5px;
  }
  span i{
    width:50px;
    height: 50px;
    padding: 5px;
    background-color: blue;
    line-height: 42px;
    border-radius: 50%;
    font-size: 25px;
    text-align: center;
  }
  /* .Box{
    position: absolute;
    display: flex;
    width:100%;
    top:100px;
    left: 50%;
    transform:translate(-50%,-50%);
    box-shadow: 0px 3px 6px -4px grey;
    padding: 10px;

  }
  .parent{
    width: 200px;
    background-color: burlywood;
    height: 30px;
    float: left;
  }
  .child{
    width: 200px;
    background-color: cadetblue;
    height: 30px;
    float: left;
  } */
  .content_align{
    font-size: 16px;
    font-family:Cambria, Cochin;
    color: white;
    text-align: justify;
    padding: 10px;
  }
  
  
.container-fluid{
width:1200px;
  padding-right: 0px !important;
}
.headerBotom{
  width: 100%;
  background-color: rgb(70, 18, 20);
  height:40px;
  line-height: 40px;
  margin-top: -3px;
  color:white;
  font-family: 'Times New Roman', Times, serif;
}
.headerBotom span{
  padding:7px;
}
.headerBotom span:hover{
border: 1px solid white;
border-radius: 2px;

}
.headerBotom2{
  width: 100%;
  height: 40px;
  box-shadow: 0px 3px 6px -4px grey;
  line-height: 25px;
  padding: 5px;
  font-family: 'Times New Roman', Times, serif;
  margin-bottom: 10px;

}
.headerBotomInTwo{
  line-height: 30px;
  float:right;
}
.headerBotomInOne{
  float:left;
  margin-left: 15px;
  line-height: 30px;
}
#selectbutton{
border-radius: 13px;
width:92%;
font-size: 13px;
font-family: Cambria, Cochin, Georgia, Times;
height: 25px;
margin-right: 15px;

}
.logo3 span{
  color: rgb(255, 217, 0);
}

.logo3{

  width:100%;
  height: 100px;
  background-color:black;
  justify-content: right;
  align-items: center;
  display: flex;
  color: white;
  box-sizing: border-box;
  font-size: 35px;
  font-weight: bold;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-top: 2px;
  margin-bottom: 3px;
  margin-left: 0px;
}
.imgSet{
width: 100px;
height: 100px;
}

  tr,td{

    border:1px solid green;
    text-align: center;

  }
  th{
    background-color: brown;
    color: white;
    border: 1px solid green;
    padding: 10px;
    text-align: center;
  }
  table {
    width: 100%;
    height: auto;

  }
  .grid1{
    text-align: justify;
  }
  .grid2{
    text-align: justify;
  }
  .grid3{
    text-align: justify;
  }
  h3{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    color:red;

  }
  h3:hover{
    color: rgb(199, 36, 36);
  }
  h4{
    font-size: 16px;
    color:rgb(199, 36, 36);
    text-align: center;


  }
  h5{
    color: white;
    font-size: 14px;
    color:rgb(235, 144, 26);
    font-family:Cambria, Cochin;
    color: #01031b;

  }
  a:hover{
    text-decoration: none;
    color: white;
  }
  a{
    color:white;
  }
  footer{
height: auto;
background-color:black;
color: white;
font-family:Verdana, Geneva, Tahoma, sans-serif;
padding: 40px;
box-sizing: border-box;

}
hr.new1{
  border-top: 1px solid white;

}
.footerHead{
  width: 100%;
  text-align: center;
  font-size: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: aqua;
  background-color:rgb(70, 18, 20);
  height:40px;
  line-height: 40px;
}
.contactFooter{
text-align: center;
color:brown;
}
.Webside{
   padding: 10px;
  text-align: center;
  font-weight: 100;
}
.content_align{
  font-size: 16px;
  font-family:Cambria, Cochin;
  color: white;
  text-align: justify;
}
* {
  box-sizing: border-box;
}

body {
  font: 16px Arial;  
}

/*the container must be positioned relative:*/
.autocomplete {
  position: relative;
  display: inline-block;
}

 input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 5px;
  font-size: 16px;
}

input[type=text] {
  background-color: #f1f1f1;
  width: 100%;
}

input[type=submit] {
  background-color: rgb(68, 255, 30);
  color: #fff;
  cursor: pointer;
  margin-left: 8px;
  border-radius: 4px;
  
} 
.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
}

/*when hovering an item:*/
.autocomplete-items div:hover {
  background-color: #e9e9e9; 
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}
.col-sm-5{
  margin-left: 140px;
  line-height: 43px;
}
#myInput{

  margin-bottom: 0 !important;
}
#btnAlin{

  margin-left: 15px;
  height: 33px;
  padding: 5px;

}
#btnAlin i{
  font-size: 18px;
}
 #left_panel{
  padding: 15px;
  border-right:2px solid silver;


}
.col-sm-10{
font-size: 14px;
font-family:Cambria, Cochin;
font-weight: bold;
color: #01031b;
padding: 15px;

}
.card-body{
  text-align: left;
}
.card-img{

  text-align: left;
}
.col-sm-3:hover{
 border-radius: 4px;
  box-shadow: 0px 3px 6px 1px grey;
  cursor: pointer;
}
.brand_1{
  font-size: 12px;
  font-weight: bold;
  font-family:sans-serif;
  color: rgb(107, 104, 104);

}
.card-body p{
  font-size: 12px;
  font-weight: bold;
  font-family:sans-serif;
  color: rgb(107, 104, 104);

}
p i{

  font-size: 20px;
  color:rgb(224, 132, 65);
}
.pagination{
float: right;
} 
.rates{
  color:brown;
  font-weight: bold;
  font-size: 16px;
}
.card-title_1{
font-size: 17px;
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
color: rgb(21, 21, 95);

}
.delevery_date{
  color:black;
  font-weight: bold;
  font-family:sans-serif;
  font-size: 1.1em;

}