<div class="card-body">
  <form #inputData="ngForm" (ngSubmit)="uploadFormData(inputData)" enctype="multipart/form-data">
    <div class="form-outline mb-4">
        <label class="form-label" for="form11Example1">Product Name</label>
      <input type="text" id="form11Example1" class="form-control" name="p_name" ngModel />
    
    </div>
     <div class="form-outline mb-4">
        <label class="form-label" for="form11Example3">Product MRP Price</label>
      <input type="number" id="form11Example3" class="form-control" name="p_mrp" ngModel />
    
    </div>
    <div class="form-outline mb-4">
       <label class="form-label" for="form11Example2">Product Price</label>
      <input type="number" id="form11Example2" class="form-control" name="p_price" ngModel />
     
    </div>
   
    <div class="form-outline mb-4">
        <label class="form-label" for="form11Example5">Product Discount (save) Price</label>
      <input type="number" id="form11Example5" class="form-control" name="p_discount" ngModel />
    
    </div>
    <div class="form-outline mb-4">
        <label class="form-label" for="form11Example5">Category</label>
      <input type="text" id="form11Example5" class="form-control" name="p_category" ngModel />
    
    </div>

    <div class="form-outline mb-4">
        <label class="form-label" for="form11Example6">Delivery Date</label>
      <input type="date" id="form11Example6" class="form-control" name="delivery_date" ngModel />
    
    </div>

    <div class="form-outline mb-4">
          <label class="form-label" for="form11Example4">Image Front</label>
      <input type="file" id="form11Example4" class="form-control" (change)="onSelectFile($event)" name="image_front"
        accept="image/png,image/jpeg" ngModel />
  
    </div>

    <div class="form-outline mb-4">
        <label class="form-label" for="form11Example6">Image Back</label>
      <input type="file" id="form11Example6" class="form-control" (change)="onSelectFile($event)" name="image_back"
        accept="image/png,image/jpeg" ngModel />
    
    </div>
    <div class="form-outline mb-4">
       <label class="form-label" for="form11Example6">Image side</label>
      <input type="file" id="form11Example6" class="form-control" (change)="onSelectFile($event)" name="image_side"
        accept="image/png,image/jpeg" ngModel />
     
    </div>
    <div class="form-outline mb-4">
        <label class="form-label" for="form11Example6">Image Top</label>
      <input type="file" id="form11Example6" class="form-control" (change)="onSelectFile($event)" name="image_top"
        accept="image/png,image/jpeg" ngModel />
    
    </div>
    <div class="form-outline mb-4">
        <label class="form-label" for="form11Example6">Image Triangle</label>
      <input type="file" id="form11Example6" class="form-control" (change)="onSelectFile($event)" name="image_triangle"
        accept="image/png,image/jpeg" ngModel />
    
    </div>
    
    <div class="form-outline mb-4">
        <label class="form-label" for="form11Example6">Product Color</label>
      <input type="text" id="form11Example6" class="form-control" (change)="onSelectFile($event)" name="image_color"
       ngModel />
    
    </div>
     <div class="form-outline mb-4">
        <label class="form-label" for="form11Example6">Product size</label>
      <input type="text" id="form11Example6" class="form-control" (change)="onSelectFile($event)" name="image_size"
       ngModel />
    
    </div>
    <div>
      <label class="form-label" for="form11Example1">Product Description</label>
      <angular-editor name="p_description"  [config]="editorConfig"  [(ngModel)]="htmlContent"></angular-editor>
    </div>
     &nbsp; 
    <div class="text-center">
      <button type="submit" class="btn btn-success col-md-10">Upload</button>
    </div>
  </form>
</div>
<br>
<br>
<br>
<br>
