 <div class="" style="overflow-x: hidden;" >
 <div class="headerBotom">
  <mat-chip-set>
       <mat-chip style="cursor: pointer; color: teal;" (click)="userNoSearchItem('bestseller')">
    <img matChipAvatar class="chips-img"src="./assets/img/watch2.png" alt="Photo of a Shiba Inu"/>
      Best Seller</mat-chip>
    <mat-chip style="cursor: pointer;color: teal;" (click)="userNoSearchItem('mobile')">
      <img matChipAvatar class="chips-img" src="./assets/img/color-mobile.jpg" alt="Photo of a Shiba Inu"/>
      Mobiles</mat-chip>
    <mat-chip style="cursor: pointer;color: teal;"(click)="userNoSearchItem('new release')">
      <img matChipAvatar class="chips-img" src="./assets/img/shoes.jpg" alt="Photo of a Shiba Inu"/>
      New Release</mat-chip>
    <mat-chip style="cursor: pointer;color: teal;" (click)="userNoSearchItem('electronic')">
      <img matChipAvatar class="chips-img"  src="./assets/img/electronics_component.jpg" alt="Photo of a Shiba Inu"/>
      Electronics</mat-chip>
    <mat-chip style="cursor: pointer;color: teal;"(click)="userNoSearchItem('cloth')">
      <img matChipAvatar class="chips-img"  src="./assets/img/saree.png" alt="Photo of a Shiba Inu"/>
      Clothes</mat-chip>
    <mat-chip style="cursor: pointer;color: teal;"(click)="userNoSearchItem('grocery')">
      <img matChipAvatar class="chips-img"  src="./assets/img/grocery.png" alt="Photo of a Grocery"/>
      Grocery</mat-chip>
    <mat-chip style="cursor: pointer;color: teal;"(click)="userNoSearchItem('fashion')">
        <img matChipAvatar class="chips-img" src="./assets/img/fashion.png" alt="Photo of a Shiba Inu"/>
      Fashion</mat-chip>
    <!-- <mat-chip style="cursor: pointer; color: teal;"(click)="customerServiceFunc('customer')">
      Costomer Service</mat-chip> -->
    </mat-chip-set>
    
  </div>
<div class="">
  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100 " src="assets/img/electronics_component.jpg" style="height: 400px;width: 100%;" alt="First slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100 " src="assets/img/grocery.jpg" style="height: 400px;width: 100%"alt="Second slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100 " src="assets/img/shoping_innov.png"style="height: 400px;width: 100%" alt="Third slide">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
  <div class=" footerHead"><a href="#">Back to top</a></div>
  <div class="row footer">
    <div class="col-sm-4 col-md-4">
      <h4 class="footer_content" >Footer Content</h4>
      <div class="content_align">
      This is for selling Product If you feel content, you're
      satisfied and happy. The content of a book, movie, or song is what it's about:
      the topic.This is for selling Product If you feel content, you're
      satisfied and happy. The content of a book, movie, or song is what it's about:
       the topic.This is for selling Product If you feel content, you're
      satisfied and happy. The content of a book, movie, or song is what it's about:
       the topic.
      </div>
      <hr/>
      </div>
    <div class="col-sm-4 col-md-4">
      <h4  class="footer_content" >Footer Content</h4>
      <div class="content_align">
      This is for selling Product If you feel content, you're
      satisfied and happy. The content of a book, movie, or song is what it's about:
       the topic.This is for selling Product If you feel content, you're
       satisfied and happy. The content of a book, movie, or song is what it's about:
        the topic.This is for selling Product If you feel content, you're
        satisfied and happy. The content of a book, movie, or song is what it's about:
         the topic.
  </div>
  <hr/>
      </div>
    <div class="col-sm-4 col-md-4">
      <h4  class="footer_content" >Footer Content</h4>
      <div class="content_align">
      This is for selling Product If you feel content, you're
      satisfied and happy. The content of a book, movie, or song is what it's about:
       the topic.This is for selling Product If you feel content, you're
       satisfied and happy. The content of a book, movie, or song is what it's about:
        the topic.This is for selling Product If you feel content, you're
        satisfied and happy. The content of a book, movie, or song is what it's about:
         the topic.
        </div>
       <hr/>
      </div>
      <div class="foot">
        <div class="contactFooter footer_content"><strong>Connect with_us</strong></div>
        <div class="socialLink">
        <span><a href="https://www.facebook.com" >
           <mat-icon>facebook</mat-icon>
        </a></span>
        <span><a href="https://twitter.com" >
          <mat-icon>facebook</mat-icon>
        </a></span>
        <span><a href="https://google.com/" >
          <mat-icon>facebook</mat-icon>
        </a></span>
        <span><a href="https://instagram.com">
          <mat-icon>facebook</mat-icon>
        </a></span>
      </div>
        <small> 
           visit our webside for more details: https://www.Ruralx.in   
        </small>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>
  </div>